language: go

sudo: required

services:
  - docker

go:
  - 1.6
  - 1.7

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - if [[ $(git rev-parse --abbrev-ref HEAD) -eq "master" ]]; then make dist; fi
